<div class="widget-wrap">
    <div class="widget-download">
<div class="btn-group">
<a href="#">
  <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cloud-download"></i> Download</button>
</a>
</div>
<div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
 <i class="fa fa-question-circle"></i> Help <span class="caret"></span>

  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Installation guide</a></li>
    <li><a href="#">Beginners guide</a></li>
    <li><a href="#">FAQ</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Download</a></li>
  </ul>
</div>
</div>
</div>

