
        <li><a href="#">Home</a></li>
        <li><a href="#">Packages</a></li>
        <li><a href="#">Forums</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Wiki<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">About Arch</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-submenu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Application</a>
            <ul class="dropdown-menu">
              <li><a href="#">List Application</a></li>
                    <li role="separator" class="divider"></li>
              <li><a href="#">Accessibility</a></li>
              <li><a href="#">Application launchers</a></li>
              <li class="dropdown-submenu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Command shells</a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Bash</a>
                <ul class="dropdown-menu">
                  <li><a href="#">Invocation</a></li>
                  <li><a href="#">Command line</a></li>
                </ul>
                </li>
              </ul>
              </li>
            </ul>
            </li>
            <li><a href="#">Development</a></li>
            <li><a href="#">Hardware</a></li>
            <li><a href="#">Networking</a></li>
            <li><a href="#">System administration</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">ArchWiki</a></li>
          </ul>
        </li>
        <li><a href="#">Bugs</a></li>
        <li><a href="#">AUR</a></li>
